<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_componentes/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>

      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v3/movimientos/[[cuenta]]"
               handle-as="json"
               on-response="mostrarMovimientos">
    </iron-ajax>

    <div class="row">

    <div hidden$="{{noCargados}}" class="col-lg-11 ">
    <table class="table table-striped">
      <thead>
        <th>Fecha</th>
        <th>Descripcion</th>
        <th>Importe</th>
        <th>Comercio</th>
        <th>Cuenta</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
        <tr on-click="mostrarInfoFila">
          <td>{{item.fecha}}</td>
          <td>{{item.descripcion}}</td>
          <td class="text-primary">{{item.importe}}</td>
          <td data-toggle="modal" data-target="#myModal">{{item.comercio}}</td>
          <td>{{item.cuenta}}</td>
        </tr>
        </template>
      </tbody>
    </table>
    </div>


</div>
<div class="btn-group">
  <button on-click="salir"    type="submit" class="btn btn-" >Regresar</button>

</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <a href="http://google.com">
      <div>
          Hello world
      </div>
  </a>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {
          movimientos: {
            type: Array
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          ciudadSeleccionada: {
            type: String
          },
          cuenta: {
            type: String
          }
        }
      }

      invocarPeticion() {
        this.$.obtenerMovimientos.generateRequest();
      }
      ready() {
        super.ready();
        console.log("Entro a ready")
  this.cuenta = window.localStorage.getItem("Cuenta");
console.log(this.cuenta)
this.$.obtenerMovimientos.generateRequest();
}
      mostrarMovimientos(data) {
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        this.noCargados = false
      }
      salir() {
       window.location.href = '/pglobal'


      }
      mostrarInfoFila(e) {
        console.log(e)
        this.ciudadSeleccionada = e.model.item.ciudad
      }
    }
    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
