<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="registro-app">
  <template>

    <link rel="stylesheet" type="text/css" href="/src/registro-app/style.css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
      :host {
        display: block;
      }

    </style>
    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
    </iron-ajax>
    <iron-ajax id="registraUsuario"

               url="http://localhost:3000/v3/usuarios/"
               method="post"
               handle-as="json"
               content-type="application/json"
               body='[{"nombre": "{{nombre}}","apellido": "{{apellidopat}}","email": "{{email}}","password": "{{password}}","cuenta": "{{cuenta}}"}]'
               on-response="mostrarResultadoLogin">
             </iron-ajax>
             <!--
    <div class="row">
      <button class="col-sm-3 col-6">Botón 1</button>
      <button class="col-sm-3 col-6">Botón 2</button>
      <button class="col-sm-3 col-6">Botón 3</button>
    </div>
  -->
  <h2>Registro de Cliente</h2>
  <div class="form-group row" margin-bottom: "15px" margin-left: "14px" margin-top: "15px" >
  <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
  <div class="col-10">
    <input class="form-control" type="text" value={{nombre::input}} id="example-text-input">
  </div>
</div>
<div class="form-group row">
<label for="example-text-input" class="col-2 col-form-label">Apellido</label>
<div class="col-10">
  <input class="form-control" type="text" value={{apellidopat::input}} id="example-text-input">
</div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Email</label>
  <div class="col-10">
    <input class="form-control" type="email" value={{email::input}} id="example-email-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-password-input" class="col-2 col-form-label">Password</label>
  <div class="col-10">
    <input class="form-control" type="password" value={{password::input}} id="example-password-input">
  </div>
</div>
<div class="form-group row">
<label for="example-text-input" class="col-2 col-form-label">Cuenta</label>
<div class="col-10">
  <input class="form-control" type="number" value={{cuenta::input}} id="example-text-input">
</div>
<button on-click="registra" style="margin-left: 1200px" style="margin-top: 20px" id="btnRegistro" type="submit" class="btn btn-primary">Registrar</button>

</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroApp extends Polymer.Element {
      static get is() { return 'registro-app'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidopat: {
            type: String
          },
          apellidomat: {
            type: String
          },
          email: {
            type:String
          },
          password: {
            type:String
          },
          cuenta: {
            type:String
          },
          productos: {
            type: Array
          },
          noTengoProductos: {
            type: Boolean,
            value: true
          }
        };
      }
      hacerLogin() {
        console.log("Login correcto de " + this.valuser)
        this.$.hacerLogin.headers.email = this.valuser;
        this.$.hacerLogin.generateRequest();
      }
      registra() {
        console.log("Valor de nombre" + this.nombre )
        this.$.registraUsuario.generateRequest();
      }
      mostrarProductos(data) {
        console.log(data.detail.response.value)
        this.productos = data.detail.response.value
        this.noTengoProductos = false
      }
      mostrarResultadoLogin(data) {
        console.log(data.detail.response)
      }
    }
    window.customElements.define(RegistroApp.is, RegistroApp);
  </script>
</dom-module>
