<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="loginmx-app">
  <template>

    <link rel="stylesheet" type="text/css" href="/src/loginmx-app/style.css" media="screen" />
    <style>
      :host {
        display: block;
      }

    </style>
    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
    </iron-ajax>
    <iron-ajax  id="hacerLogin"
               url="http://localhost:3000/v3/login/[[valuser]]"
               handle-as="json"
               on-response="mostrarResultadoLogin">
             </iron-ajax>
             <!--
    <div class="row">
      <button class="col-sm-3 col-6">Botón 1</button>
      <button class="col-sm-3 col-6">Botón 2</button>
      <button class="col-sm-3 col-6">Botón 3</button>
    </div>
  -->
    <div id="block">
      <label id="user">U</label>
      <input id="name" required="required" type="text" placeholder="usuario@mail.com" value={{valuser::input}}>
      <label id="pass">P</label>
      <input id="password" required="required" type="password" value={{etpassword::input}}>
    </div>
    <div id="option">
      <button  on-click="hacerLogin">Entrar</button>
      <a href="/registro">Registro</a>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type:String
          },
          usuario: {
            type: Array
          },
          noTengoProductos: {
            type: Boolean,
            value: true
          }
        };
      }
      hacerLogin() {
        console.log("Valor de usuario " + this.valuser)
        this.$.hacerLogin.headers.id = this.valuser;
        this.$.hacerLogin.generateRequest();
      }
      invocarPeticion() {
        this.$.obtenerProductos.generateRequest();
      }
      mostrarProductos(data) {
        console.log(data.detail.response.value)
        this.productos = data.detail.response.value
        this.noTengoProductos = false
      }
      mostrarResultadoLogin(data) {

        var json = data.detail.response

        this.usuario = data.detail.response

        var password = this.etpassword
        var pass = json[0].password
        var nombre = json[0].nombre
        var apellido = json[0].apellido
        var cuenta = json[0].cuenta
        var email = json[0].email

        if(pass === password){
          console.log ("Login Correcto"+nombre+apellido+cuenta+email)
          localStorage.setItem("Nombre", nombre);
          localStorage.setItem("Apellido", apellido);
          localStorage.setItem("Cuenta", cuenta);
          localStorage.setItem("Email", email);
          window.location.href = '/pglobal'
        }else{
          console.log("Login Incorrecto")
          alert("Login Incorrecto")
          window.location.href = '/login'
        }

      }


      }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
