<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/datetime-input/date-input.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<base href="https://raw-dot-custom-elements.appspot.com/smashah/places-autocomplete-input/1.0.0/places-autocomplete-input/">
<link rel="import" href="places-autocomplete-input.html">

<dom-module id="nmovimientos-app">
  <template>

    <link rel="stylesheet" type="text/css" href="/src/registro-app/style.css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8EluSBSeilVnUKOd-6dFSJH3zzHZ5uWo&libraries=places"
        async defer></script>

    <style>
      :host {
        display: block;
      }

    </style>
    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
    </iron-ajax>
    <iron-ajax id="registraUsuario"

               url="http://localhost:3000/v3/movimientos/"
               method="post"
               handle-as="json"
               content-type="application/json"
               body='[{"fecha": "{{fecha}}","descripcion": "{{descripcion}}","importe": "{{importe}}","cuenta": "{{cuenta}}","comercio": "{{comercio}}"}]'
               on-response="mostrarResultadoLogin">
             </iron-ajax>
             <!--
    <div class="row">
      <button class="col-sm-3 col-6">Botón 1</button>
      <button class="col-sm-3 col-6">Botón 2</button>
      <button class="col-sm-3 col-6">Botón 3</button>
    </div>
  -->
  <h2 class="text-primary">Registro de Movimientos en la cuenta {{cuenta}} </h2>
  <div class="form-group row" margin-bottom: "15px" margin-left: "14px" margin-top: "15px" >
  <label for="example-text-input" class="col-2 col-form-label">Fecha de movimiento </label>
  <div class="col-10">
  <input required class="form-control" type="date" value={{fecha::input}} id="example-text-input" required>

  </div>
</div>
<div class="form-group row">
<label for="example-text-input" class="col-2 col-form-label">Descripcion</label>
<div class="col-10">
  <input  class="form-control" type="text" value={{descripcion::input}} id="example-text-input" required>
</div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Importe</label>
  <div class="col-10">
    <input  class="form-control" type="number" value={{importe::input}} id="example-email-input" required>
  </div>
</div>
<div class="form-group row">
<label for="example-text-input" class="col-2 col-form-label">Comercio</label>
<div class="col-10">
  <places-autocomplete-input maps-api-key="AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc" place={{comercioobjeto}}></places-autocomplete-input>
</div>
</div>
<div class="form-group row">
<label for="example-text-input" class="col-2 col-form-label">Cuenta</label>
<div class="col-10">
  <input  class="form-control" type="text" value={{cuenta}} id="example-text-input" disabled>
</div>
</div>
<div class="btn-group">
  <button on-click="salir"   type="submit" class="btn btn-secondary" >Regresar</button>
  <button on-click="registra"   type="submit" class="btn btn-primary" >Registrar</button>

</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NmovimientosApp extends Polymer.Element {
      static get is() { return 'nmovimientos-app'; }
      static get properties() {
        return {
          fecha: {
            type: String
          },
          descripcion: {
            type: String
          },
          comercio: {
            type: String
          },
          comercioobjeto: {
            type: Object
          },
          importe: {
            type: String
          },
          cuenta: {
            type:String
          },
          productos: {
            type: Array
          },
          noTengoProductos: {
            type: Boolean,
            value: true
          }
        };
      }
      hacerLogin() {
        console.log("Login correcto de " + this.valuser)
        this.$.hacerLogin.headers.email = this.valuser;
        this.$.hacerLogin.generateRequest();
      }
      ready() {
        super.ready();
        console.log("Entro a ready")
  this.nombre = window.localStorage.getItem("Nombre");
  this.cuenta = window.localStorage.getItem("Cuenta");
console.log(this.Nombre)


}
      registra() {
        var comercioObjeto=this.comercioobjeto

        console.log("Valor de nombre " + comercioObjeto.name)

      this.comercio = comercioObjeto.name
      this.$.registraUsuario.generateRequest();

      }
      salir() {
       window.location.href = '/pglobal'


      }
      mostrarProductos(data) {
        console.log(data.detail.response.value)
        this.productos = data.detail.response.value
        this.noTengoProductos = false
      }
      mostrarResultadoLogin(data) {
        console.log(data.detail.response)
        var statusConfirm = confirm("Movimiento dado de alta ¿Desea dar de alta mas movimientos?");
if (statusConfirm == true){
             window.location.href = '/nmovimientos'
  }else{
window.location.href = '/pglobal'
}
      }
    }
    window.customElements.define(NmovimientosApp.is, NmovimientosApp);
  </script>
</dom-module>
