<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_componentes/polymer/lib/elements/dom-repeat.html">

<dom-module id="pglobal-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v3/movimientos"
               handle-as="json"
               on-response="mostrarMovimientos">
    </iron-ajax>
    <div>
      <h1 class="text-primary">Bienvenid@ {{Nombre}} a tu posicion Global</h1>
    </div>

    <div class="container">
      <button on-click="consultaMovimientos" type="button" class="btn btn-primary btn-block" name="button">Movimientos de mi cuenta {{Cuenta}}</button>
      <button on-click="altaMovimientos" type="button" class="btn btn-default btn-block" name="button">Alta de Movimientos</button>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */


    class PglobalApp extends Polymer.Element {
      static get is() { return 'pglobal-app'; }
      static get properties() {
        return {
          movimientos: {
            type: Array
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          Nombre: {
            type: String
          },
          Email: {
            type: String
          },
          Cuenta: {
            type: String
          }
        }
      }

      invocarPeticion() {
        this.$.obtenerMovimientos.generateRequest();
      }
      consultaMovimientos() {
          window.location.href ='/movimientos'
      }
      altaMovimientos() {
          window.location.href = '/nmovimientos'
      }
      ready() {
        super.ready();
        console.log("Entro a ready")
  this.Nombre = window.localStorage.getItem("Nombre");
  this.Cuenta = window.localStorage.getItem("Cuenta");
console.log(this.Nombre)
}
      mostrarMovimientos(data) {
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        this.noCargados = false
      }
      mostrarInfoFila(e) {
        console.log(e)
        this.ciudadSeleccionada = e.model.item.ciudad
      }
    }
    window.customElements.define(PglobalApp.is, PglobalApp);
  </script>
</dom-module>
