/*-------------------------------Detalles de la cuenta------------------------------------------------------------------------------------*/
.accountDetailsWrapper{
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.accountDetailsRow{
  display: flex;
  flex-direction: row;
}

.accountDetailsContainer {
  min-width: 900px;
}

.genericTxtInput {
  margin-top: .5em;
  border: 0;
  font-size: 13px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  outline: 0;
}
/*-------------------------------Barra de administración-------------------------------------------------------------------------------------*/
.barContainer {
  background: #0065bd;
  height: 53px;
  padding: 6px;
  display: flex;
  align-items: center;
}

.divider {
  width: 2px;
  height: 24px;
  content: ' ';
  background: #009ee5;
  margin: 0 16px;
}

.barFiltersContainer {
  display: flex;
  flex-grow: 1;
}

.barFilterSection {
  flex-grow: 1;
}

.barFilterSectionwidth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

/* SELECT */
.slc {
  background: #003F8C;
  border-radius: 4px;
  /* width: 130px; */
  height: 32px;
  color: #dbdcdf;
  outline: none;
  border: 0;
  font-size: 12px;
}

/* INPUT */
.inpTxt {
  font-size: 12px;
  border: 0;
  height: 30px;
  border-radius: 3px;
  outline: 0;
  background: #003F8C;
  color: #dbdcdf;
  padding: 0 12px;
}

.inputLarge {
  composes: inpTxt;
  width: 200px;
}

.inputMedium {
  composes: inpTxt;
  width: 165px;
}

.inputSmall {
  composes: inpTxt;
  width: 130px;
}

.inputXSmall {
  composes: inpTxt;
  width: 70px;
}

.inpTxt::placeholder {
  color: #dbdcdf;
}

.rightIconsContainer {
  display: flex;
}

/* BAR REPORTS */
.barReportsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.barReportsSection {
  display: flex;
  align-items: center;
}

.barReportsTitle {
  padding: 0;
  margin: 0 0.5em 0 0;
  color: white;
}

/* BAR TABS */
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.tabsItem {
  /* border: 1px solid black; */
  /* margin: 0 1em; */
  color: white;
  padding: .5em 2em;
  text-transform: uppercase;
  border-bottom: 3px solid #0065bd;
  transition: .3s;
  cursor: pointer;
}

.tabsItem:hover {
  opacity: .7;

}

.tabSelected {
  border-bottom: 3px solid var(--blueFour)
}

.inputsAsClBase {
  background: #003F8C;
  /* border: 1px solid white; */
  border: none;
  color: #dbdcdf;
  margin: 0;
  outline: none;
  padding: 0.5em 0;
  transition: .3s;
  width: 100px;
  margin-bottom: 5px;
  padding: 8px 5px;
}

.inputsAsCl {
  composes: inputsAsClBase;
}

.inputsAsClRadiusLeft {
  composes: inputsAsClBase;
  border-radius: 4px 0px 0px 4px;
}

.inputsAsClRadiusRight {
  composes: inputsAsClBase;
  border-radius: 0px 4px 4px 0px;
}
/*-------------------------------Tarjeta de administrador--------------------------------------------------------------------------------*/
.cardItem {
  width: 300px;
  height: 350px;
  margin: 1em;
  border-radius: 5px;
  background: white;
  box-shadow: 0 2px 4px 0 #9b9b9b;
  transition: .3s;
}

.cardItem:hover {
  opacity: 0.7;
  cursor: pointer;
}

.cardTitle {
  color: #003f8c;
  margin: 0;
  border-bottom: 1px solid #d2d2d2;
  font-size: 16px;
  padding: 8px;
}

.header {
  display: flex;
  justify-content: space-around;
}

.headerItem {
  text-align: center;
  margin: 0;
  padding: 32px 0 12px 0;
  width: 100px;
}

.headerItemNumber {
  color: #3f9fdf;
  margin: 0;
  font-weight: 200;
}

.fontSizeDefault {
  font-size: 48px;
}

.fontSizePrimary {
  font-size: 24px;
}

.headerItemDesc {
  font-size: 16px;
  color: #666666;
  margin: 6px 0 0 0;
}

.chartContainer {
  background: #f0f2ef;
  margin: 12px 8px 0 8px;
  padding: 5px 6px;
  border-radius: 5px;
}

.chartTitle {
  font-size: 12px;
  margin: 0;
  color: #4a4a4a;
  padding-left: 6px;
}
/*-------------------------------Administración-------------------------------------------------------------------------------*/

/*-------------------------------Consejos-------------------------------------------------------------------------------------*/
.advice {
  width: 22rem;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
}

.adviceHeaderWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.adviceCloseWrapper {
  text-align: right;
  width: 20%;
}

.adviceClose {
  display: inline-block;
  cursor: pointer;
}

.adviceTitle {
  composes: textHeaders from '../../sharedStyles/typographi.css';
  margin: 0;
  margin-left: 1rem;
  width: calc(80% - 2.88rem)
}

.adviceAd {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  text-align: left;
}

.adviceMessage {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  display: block;
  text-align: left;
}

.adviceHomonomy {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  display: inline-block;
  margin-top: .5rem;
  width: 100%;
  text-align: center;
}

.adviceHomonomy:last-child {
  margin-bottom: .5rem;
}

.adviceHomonomy:first-child {
  margin-top: 1rem;
}

.adviceAlert {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  color: #c8175e;
  display: block;
  margin-top: 1rem;
  text-align: left;
}

.wrap {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close {
  display: inline-flex;
  justify-content: flex-end;
  padding-top: .5rem;
  padding-right: .5rem;
}

.header {
  display: flex;
  padding: .5rem;
}

.title {
  flex: 1;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}

.viable {
  color: #5ebd31;
  cursor: pointer;

}

.deny {
  color: #c8175e;
  cursor: pointer;

}

.viable p, .deny p {
  font-size: 1.2rem;
}
/*-------------------------------Barras de aplicaciones---------------------------------------------------------------------------------------*/
/*Main App Bar*/
.appBar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  background-color: #003f8c;
  backface-visibility: hidden;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  z-index: 99;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo > img {
  height: 80%;
}

.appBarContainer {
  display: flex;
  width: 100%;
  height: 52px;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 16px;
}

.appBarLogo {
  font-size: 1.3em;
  padding: 0;
  float: none;
  max-width: none;
  font-weight: 400;
}

.appBarIconsLeft {
  display: flex;
  align-self: center;
  margin-left: 8%;
}

.appBarIconsLeft > * {
  margin-left: 1rem;
}

.nav {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav > li {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
}

/* Breadcrumb states */
.navBread {
  list-style-type: none;
}

.dropDown {
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 20rem;
  background: #fff;
  border-radius: 5px;
  composes: boxShadowPrimary from '../../sharedStyles/mixins.css';
  transform: translate(-50%, 0);
  transition: transform 2s ease-out, opacity 2s 0.2s;
  opacity: 0;
  z-index: 999;
  display: none;
}

.openedDrop {
  display: flex;
  transform: translate(-50%, 15%);
  opacity: 1;
}

.closedDrop {
  display: none;
  opacity: 0;
}

/*Info App Bar*/

.infoBar {
  display: block;
  width: 100%;
  position: fixed;
  top: 52px;
  left: 0;
  color: #fff;
  background-color: #094FA4;
  backface-visibility: hidden;
  z-index: 2;
  composes: boxShadowPrimary from '../../sharedStyles/mixins.css';
}

.infoBarContainer {
  display: inline-flex;
  width: 100%;
  height: 53px;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 16px
}

.infoBarButtons {
  margin: auto;
}

.infoBarIconsLeft {
  display: flex;
  align-self: center;
  position: absolute;
  right: 16px;
}

.agentComponent {
  display: flex;
  height: 42px;
  align-items: center;
  margin-left: 16px;
  position: absolute;
  left: 160px;
}

.innerAgentText {
  margin-left: .5em;
}

.agentComponent p {
  margin: 0;
}

.agentText {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: -5px !important;
}

.agentName {
  font-size: 1.1em;
}

.ReactModal__Content {
  position: absolute;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  opacity: 0;
  transform-origin: top left;
  transform: scale(.8) translate(-50%);
  animation: fade-in ease .2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(.8) translate(-50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(-50%);
  }
}

.notFoundMsg {
  color: gray;
  padding: 0.5em;
  width: 320px;
  text-align: center;
}

.listContainer {
  width: 320px;
  height: 400px;
  overflow: scroll;
}

.listContainerSection {
  border-bottom: 1px solid #979797;;;;
  padding: 1em 0;
}

.itemContainer {
  font-size: 14px;
  padding: 0 1em;
  margin: 0;
}

.itemTitle {
  color: #094fa4
;
}

.itemValue {
  color: #666666;
  margin-left: .5em;
}

.itemValueBreakLine {
  display: block;
  color: #666666;
  margin-left: 0;
}
/*-------------------------------AsignarCasos--------------------------------------------------------------------------------------*/

/*-------------------------------Avatar------------------------------------------------------------------------------------*/
.avatar {
  border-radius: 50%;
  width: 120px;
}

.avatarSecondary {
  border-radius: 50%;
  width: 50px;
}

.avatarAppBar {
  border-radius: 50%;
  width: 36px;
}
/*-------------------------------Botones------------------------------------------------------------------------------------*/
.btn {
  border-radius: 5px;
  font-size: .85rem;
  border: none;
  margin: 0;
  padding: .5em 3.5em;
  outline: 0;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  user-select: none;
  justify-content: center;
}

.disabledStyle {
  composes: btn;
  background-color: #dbdcdf;
  color: #979797;;;
  cursor: default;
}
.disabledStyle:hover {
  background-color: #dbdcdf;
  color: #979797;;
  cursor: default;
}

.primaryStyle {
  composes: btn;
  background-color: #003f8c;
  color: #fff;
  transition: all .3s cubic-bezier(.175, .885, .32, 1);
}

.primaryStyle:hover {
  background-color: #009ee5;
}

.primaryStyle:focus {
  background-color: #0065bd;
}

.secondaryStyle {
  composes: btn;
  background-color: #fff;
  color: #3b3e45;
  transition: all .3s cubic-bezier(.175, .885, .32, 1);
}

.secondaryStyle:hover {
  background-color: #dbdcdf;
}

.secondaryStyle:focus {
  background-color: #dbdcdf;
}

.primaryBlueStyle {
  composes: btn;
  background-color: #0065bd;
  color: #fff;
  transition: all .3s cubic-bezier(.175, .885, .32, 1);
}

.primaryBlueStyle:hover {
  background-color: #4cbbee;
}

.primaryBlueStyle:focus {
  background-color: var(--blueFour)
}

.secondaryBlueStyle {
  composes: btn;
  background-color: transparent;
  color: #fff;
  transition: all .3s cubic-bezier(.175, .885, .32, 1);
}

.secondaryBlueStyle:hover {
  opacity: .7;
}

.secondaryBlueStyle:focus {
  opacity: .8;
}

.greenStyle {
  composes: btn;
  background-color: #67ba2b;
  color: #fff;
  transition: all .3s cubic-bezier(.175, .885, .32, 1);
}

.greenStyle:hover {
  background-color: #79db32;
}

.greenStyle:focus {
  background-color: #5ec32d;
}

.iconBtn {
  height: 40px;
  width: 40px;
  border: none;
  margin-left: 1rem;
  object-fit: contain;
  padding: 0;
}

.iconBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.iconBtn img {
  height: 100%;
}

:global(.rippleWrapper){
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

:global(.ripple) {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, .2);
  border-radius: 100%;
  transform: scale(0);
}

:global(.animate .ripple) {
  animation: rippleAnim .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@keyframes rippleAnim {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}


.floatingButton {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.Dynamic-group-Copy {
  width: 166px;
  height: 32px;
  object-fit: contain;
}
/*-------------------------------CertificacionCliente------------------------------------------------------------------------------------*/
.userIconLeftContainer {
  padding: .5em;
}

.columnCenterContainer {
  display: flex;
  flex : 2 1 70%;
}

.columnCenterWithinBack {
  margin-left : 3em;
  display: flex;
  flex: 2 1 70%;
}

.containerAddress{
  flex : 5 1 0%;
  flex-direction: row;
}

.containerRow {
  display: flex;
  flex-direction : row;
  width: 100%;
}

.containerRowBottom {
  display: flex;
  flex-direction : row;
  width: 50%;
}

.containerColumn{
  display: flex;
  flex-direction : column;
  flex: 4 1 0%;
}

.containerNameID {
  composes : containerColumn;
  flex: 2;
}

.columnCenterParagraph {
  composes: textSubHeaders from '../../sharedStyles/typographi.css';
  margin: 6px 12px 0px 0px;
  padding: 0;
  flex: 2 1 0%;
}

.columnCenterSpan {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  display: block;
}

.huellaHero {
  min-width: 400px;
  display: flex;
  flex: 3;
  align-items: center;
}

.huellaIcon {
  margin-right: 5px;
}

.huellaParagraph {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  margin: 0;
}

.huellaSpan {
  display: block;
  composes: textDefaults from '../../sharedStyles/typographi.css';
}

.columnRightContainer {
  padding: .5em;
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content: center;
}

.btnEvidencia {
  margin-right: 1.25rem;
  text-align: center;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.btnEvidencia:hover {
  cursor: pointer;
  opacity: .8;
}

.evidenciaListContainer {
  height: 260px;
  overflow-y: scroll;
}

.evidenciaListItemContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding: .2em .5em;
}

.evidenciaListItemsLeft {
  flex-grow: 1
}

.evidenciaListItemsLeftLabel {
  color: #003f8c;
  font-size: 13px;
  height: 18px;
  width: 69px;
  line-height: 18px;
}
.evidenciaListItemsLeftSpan {
  color: #cccccc;
  font-size: 9px;
}

.homonimosFooter {
  text-align: right;
  background: #3b3e45;
  padding: .3em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Rectangle-2 {
  width: 200px;
  height: 60px;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0);

  width: 104.2px;
  height: 14px;
  font-family: StagSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

.Rectangle {

  width: 341px;

  height: 50px;

}

.btnEvidenciaLabel {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  font-size: .56rem;
}

.listHomonomiesWrapper {
  overflow-y: scroll;
  height: 56%;
  padding-bottom: 3rem;
}

.initHomonimy {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  opacity: 0;
  transform: scale(.9);
  animation: fade-in .2s cubic-bezier(.5,.9,.6,1) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.homonims {
  display: flex;
  flex-direction: column;
}

.homonomyWrapper {
  overflow-y: scroll;
  margin-bottom: 2.5rem;
  height: 50vh;
}
/*-------------------------------ComparableCliente-------------------------------------------------------------------------------------*/
.centerContainer {
  height: 100%;
}

.comparableClienteContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*-------------------------------DetalleComparable-------------------------------------------------------------------------------------*/
.detailComparableMain {
  font-family: 'Open Sans';
  width: 100%;
  display: flex;
  flex-direction: column;
}

.detailComparableTitle {
  composes: textTableHeaders from '../../sharedStyles/typographi.css';
  color: #333333;
  margin: 0;
  width: 50%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientInfoContainer {
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.detailComparableMainItem {
  composes: textSubHeaders from '../../sharedStyles/typographi.css';
  margin: .5rem .2rem;
  max-width: 14rem;
  font-size: 13px;
  padding: .5rem 0;
}

.detailComparableMainItemSpan {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  display: block;
  font-size: 13px;
}

.footerBg {
  background-color: black;
}

.footerWrapper {
  display: flex;
  align-items: center;
  height: 2.6rem;
}

.footerIcon {
  margin-left: .3em;
  margin-right: .1em
}

.footerInfo {
  color: #FEFEFE;
  line-height: .64rem;
  font-size: .6rem;
  composes: textDefaults from '../../sharedStyles/typographi.css';
}

.footerInfoDate {
  composes: textTableHeaders from '../../sharedStyles/typographi.css';
  display: block;
  color: #cccccc;
  line-height: .64rem;
  font-size: .63rem;
}

.btnAddHomo {
  flex-grow: 2;
  text-align: right;
  padding-right: .6rem;
}

.buttonFooter{
  padding: .6em 2.3em;
}

.wrapperDocumentViewer{
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
}
/*-------------------------------Display-------------------------------------------------------------------------------------*/
.displayValue {
  display : inline-flex;
  flex-direction: column;
  width: 100%;
  padding: 5px .7rem;
}

.displayValueDescription {
  flex: 1;
  color: #9F9F9F;
  composes: textTableHeaders from '../../sharedStyles/typographi.css';
  line-height: 2em;
  padding: 0 5px;
  white-space: nowrap;
}

.displayValueText {
  flex: 1;
  padding: 0px 5px;
  composes: textTableHeaders from '../../sharedStyles/typographi.css';
  line-height: 2em;
}


.displayTxt {
  display : inline-flex;
  flex-direction: column;
  flex : 1;
  padding:  .5rem  2rem .5rem 0;
}


.displayTxtInput {
  margin-top: .5em;
  border: 0;
  font-size: 13px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  outline: 0;
  background: white;
}

.displayTextArea{
  background-color: #f7f7f7;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  height: 175px;
  background: white;
  resize: none;
  composes: textTableHeaders from '../../sharedStyles/typographi.css';
  border: 1px solid var(--grayThree)
}

:global .error textarea {
  border : 1px solid red;
}
/*-------------------------------DocBar------------------------------------------------------------------------------------*/
.visorDocHeader {
  background-color: #3b3e45;
  padding: .2rem 0;
  width: 100%;
  text-align: center;
}

.visorDocHeaderLink {
  color: #cccccc;
  composes: textHeaders from '../../sharedStyles/typographi.css';
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.visorDocHeaderSpan {
  margin-left: .5rem;
}
/*-------------------------------Artículo doc.------------------------------------------------------------------------------------*/
.docItem {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: .5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
}

.docItemWrapper {
  width: 80%;
}

.docItemTitle {
  composes: textSubHeaders from '../../sharedStyles/typographi.css';
  margin: 0;
}

.docItemIconWrapper {
  width: 20%;
  text-align: right;
}

.docItemIcon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.docItemDate {
  composes: textDefaults from '../../sharedStyles/typographi.css';
}
/*-------------------------------DocItemList------------------------------------------------------------------------------------*/
.docItemList {
  max-width: 13rem;
}

.docItemListWrapper {
  width: 100%;
}

.docItemListItem {
  box-sizing: border-box;
  border-bottom: 0.0625rem solid #cccccc;
}

.docItemListItem:last-child {
  border-bottom: none;
}
/*-------------------------------DocsCliente------------------------------------------------------------------------------------*/
.homonimosFooter {
  composes: homonimosFooter from '../CertificacionCliente/styles.css'
}

.documentEmbedContainer {
  flex : 1;
}

.initHomonimy {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  opacity: 0;
  transform: scale(.9);
  animation: fade-in .2s cubic-bezier(.5,.9,.6,1) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/*-------------------------------Visor de documentos-----------------------------------------------------------------------------------*/
.documentsViewContainer {
  display : flex;
  min-height : 100%;
  background-color: black;
  flex-direction : column;
  flex : 1;
}

.documentsViewWrapper {
  display : flex;
  background-color: black;
  flex : 1;
}

.documentViewContainer {
    flex-direction: column;
    flex : 1;
    display: flex;
    min-height: 100%;
}

.documentTitleLabel {
  color: white;
  font-size: .9em;
}

.documentTitleContainer {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding:  0.1em;
  height: 2em;
  background-color: var(--grayFive)
}

.documentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.documentFooterContainer {
  height: 2.6em;
  background-color: black;
  padding: .5em;
}

.documentEmbedContainer {
  flex: 1;
}

.bottomArrow {
  margin: 0.5em;
  height: 0.9em;
  width: 0.9em;
}

.documentSelectContainer {
  display: flex;
  flex-direction : column;
  text-align : center;
  margin: 1rem;
  min-width: 3.5rem;
  color : white;
  box-sizing: border-box;
}

.documentSelectLabel {
  margin-top: .5rem;
  margin-bottom: .25rem;
  line-height: .8rem;
  display: block;
  font-size : .64rem;
}

.documentSelectWrapper {
  align-items : stretch;
  box-sizing: border-box;
  display: flex;
  justify-content : center;
  margin: 0 auto;
  margin-bottom: 1px;
  padding: 0 1rem;
  width: 60.5rem;
}

.documentSelectContainerIcons {
  width: 100%;
  overflow-x: auto;
  background-color: #333;

}

.toogleVisorIcon {
  color: #009ee5;
}
.headerViewer {
    height: 4px;
    width: 100%;
}

.selectedLeft {
  border-bottom: 4px solid orange;
  color : orange;
}

.selectedLeft svg {
  color:  orange;
}

.selectedRight svg {
  color : #59C000;
}

.selectedRight {
  border-bottom: 4px solid #59C000;
  color : #59C000;
}

.buttonWrapper {
  margin-right: 2rem;
}

.noAvailable,
.noAvailable svg {
  color: var(--grayFour)
}
.documentSelectItemContainer {
  min-width: 5rem;
}

/*-------------------------------Drawer-----------------------------------------------------------------------------------*/
.drawer {
  position: relative;
  background-color: white;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-transition: width .3s;
  border-color: 1px solid black;
  width: 430px;
  overflow-x: hidden;
  height: 100%;
}

.drawerContent {
  height: 100%;
}

.right {
  right: 0;
  box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.24), 0 4px 0 0 rgba(0, 0, 0, 0.12);
  justify-content: flex-end;
  width: 340px;
}

.left {
  left: 0;
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.24), 0 4px 0 0 rgba(0, 0, 0, 0.12);
}


.colapsed {
  width: 52px !important;
}

.open {
  border: none !important;
  position: absolute;
  margin : .5em;
}

.btnContainerLeft {
   justify-content: flex-end;
   right: 0;
}

.btnContainerRight {
  justify-content: flex-start;
  right: 0;
}

.toggleButtonContainerImage {
  display: flex;
  border-bottom:  1px solid #cccccc;
  padding : .5em 1em;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}

/*-------------------------------DrawerItems----------------------------------------------------------------------------------*/
:global(.customTableCenter .rt-thead .rt-resizable-header),
:global(.customTableCenter  .rt-tbody .rt-td) {
  justify-content: center !important;
}

:global(.ReactTable) {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
:global(.ReactTable *) {
    box-sizing: border-box
}
:global(.ReactTable .rt-table) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    overflow: auto
}
:global(.ReactTable .rt-thead) {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .8rem;
}
:global(.ReactTable .rt-thead.-headerGroups) {
    background: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}
:global(.ReactTable .rt-thead.-filters) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
:global(.ReactTable .rt-thead.-filters .rt-th) {
    border-right: 1px solid rgba(0, 0, 0, 0.02)
}
:global(.ReactTable .rt-thead.-header) {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: #f2f2f2;
}
:global(.ReactTable .rt-thead .rt-tr) {
    text-align: center;
    cursor: pointer;
}
:global(.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td) {
    padding: 5px 5px;
    line-height: normal;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-transition: box-shadow .3s cubic-bezier(.175, .885, .32, 1);
    transition: box-shadow .3s cubic-bezier(.175, .885, .32, 1);
    box-shadow: inset 0 0 0 0 transparent;
}
:global(.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc) {
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.6)
}
:global(.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc) {
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.6)
}
:global(.ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td.-cursor-pointer) {
    cursor: pointer
}
:global(.ReactTable .rt-thead .rt-th:last-child, .ReactTable .rt-thead .rt-td:last-child) {
    border-right: 0
}
:global(.ReactTable .rt-thead .rt-resizable-header) {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: .5rem;
    height: 2rem;
}
:global(.ReactTable .rt-thead .rt-resizable-header:last-child) {
    overflow: hidden
}
:global(.ReactTable .rt-thead .rt-resizable-header-content) {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: .8rem;
}
:global(.ReactTable .rt-thead .rt-header-pivot) {
    border-right-color: #f7f7f7
}
:global(.ReactTable .rt-thead .rt-header-pivot:after, .ReactTable .rt-thead .rt-header-pivot:before) {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}
:global(.ReactTable .rt-thead .rt-header-pivot:after) {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 8px;
    margin-top: -8px
}
:global(.ReactTable .rt-thead .rt-header-pivot:before) {
    border-color: rgba(102, 102, 102, 0);
    border-left-color: #f7f7f7;
    border-width: 10px;
    margin-top: -10px
}
:global(.ReactTable .rt-tbody) {
    -webkit-box-flex: 99999;
    -ms-flex: 99999 1 auto;
    flex: 99999 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
}
:global(.ReactTable .rt-tbody .rt-tr-group) {
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    text-align: center;
}
:global(.ReactTable .rt-tbody .rt-tr-group:last-child) {
    border-bottom: 0
}
:global(.ReactTable .rt-tbody .rt-td) {
    border-right: 1px solid rgba(0, 0, 0, 0.02);
    font-size: .8rem;
    color: #666;
    height: 2.6rem;
    display: flex;
    justify-content: flex-start;
    padding-left: .5rem;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    line-height: 1rem;
}
:global(.ReactTable .rt-tbody .rt-td:last-child) {
    border-right: 0
}
:global(.ReactTable .rt-tbody .rt-expandable) {
    cursor: pointer
}
:global(.ReactTable .rt-tr-group) {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}
:global(.ReactTable .rt-tr) {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    transition: background-color .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

:global(.ReactTable .rt-tr:hover) {
    background-color: #eee;
    cursor: pointer;
}

:global(.ReactTable .rt-th, .ReactTable .rt-td) {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 5px;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-property: width, min-width, padding, opacity;
    transition-property: width, min-width, padding, opacity;
}
:global(.ReactTable .rt-th.-hidden, .ReactTable .rt-td.-hidden) {
    width: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    opacity: 0 !important
}
:global(.ReactTable .rt-expander) {
    display: inline-block;
    position: relative;
    margin: 0;
    color: transparent;
    margin: 0 10px;
}
:global(.ReactTable .rt-expander:after) {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    border-left: 5.04px solid transparent;
    border-right: 5.04px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, 0.8);
    -webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1);
    transition: all .3s cubic-bezier(.175, .885, .32, 1);
    cursor: pointer
}
:global(.ReactTable .rt-expander.-open:after) {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0)
}
:global(.ReactTable .rt-resizer) {
    display: inline-block;
    position: absolute;
    width: 36px;
    top: 0;
    bottom: 0;
    right: -18px;
    cursor: col-resize;
    z-index: 10
}
:global(.ReactTable .rt-tfoot) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}
:global(.ReactTable .rt-tfoot .rt-td) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}
:global(.ReactTable .rt-tfoot .rt-td:last-child) {
    border-right: 0
}
:global(.ReactTable.-striped .rt-tr.-odd) {
    background: rgba(0, 0, 0, 0.03)
}
:global(.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover) {
    background: rgba(0, 0, 0, 0.05)
}
:global(.ReactTable .-pagination) {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    color: #666;
    font-size: 13px;
}
:global(.ReactTable .-pagination .-btn) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 3px;
    padding: 6px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    cursor: pointer;
    outline: none;
}
:global(.ReactTable .-pagination .-btn[disabled]) {
    opacity: .5;
    cursor: default
}
:global(.ReactTable .-pagination .-btn:not([disabled]):hover) {
    background: rgba(0, 0, 0, 0.3);
    color: #fff
}
:global(.ReactTable .-pagination .-previous), :global(.ReactTable .-pagination .-next) {
    display: flex;
    margin-left: .5rem;
    margin-right: .5rem;
}
:global(.ReactTable .-pagination .-center) {
    flex: 1.5;
    text-align: center;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
:global(.ReactTable .-pagination .-pageInfo) {
    display: inline-block;
    margin: 3px 2rem;
    white-space: nowrap
}
:global(.ReactTable .-pagination .-pageJump) {
    display: inline-block;
}
:global(.ReactTable .-pagination .-pageJump input) {
    width: 70px;
    text-align: center
}
:global(.ReactTable .-pagination .-pageSizeOptions) {
    margin: 3px 0;
}
:global(.ReactTable .rt-noData) {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;
    pointer-events: none;
    padding: 20px;
    color: rgba(0, 0, 0, 0.5)
}
:global(.ReactTable .-loading) {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}
:global(.ReactTable .-loading > div) {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-52%);
    transform: translateY(-52%);
    -webkit-transition: all .3s cubic-bezier(.25, .46, .45, .94);
    transition: all .3s cubic-bezier(.25, .46, .45, .94)
}
:global(.ReactTable .-loading.-active) {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
}
:global(.ReactTable .-loading.-active > div) {
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
}
:global(.ReactTable input, .ReactTable select) {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 3px;
    font-weight: normal;
    outline: none
}
:global(.ReactTable .rt-resizing .rt-th, .ReactTable .rt-resizing .rt-td) {
    -webkit-transition: none !important;
    transition: none !important;
    cursor: col-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
/***** END REACT TABLE *****/

.drawerItemHeader {
  height: 52px;
  display: flex;
  align-items: center;
  background-color: #fff;
  flex-direction: row;
  font-size: .9rem;
  font-weight: 300;
  position: relative;
  justify-content: center;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

.drawerItemInner {
  display: flex;
  width: 100%;
  align-items: center;
}

.drawerItemTitle {
  color: #094FA4;
  text-transform: uppercase;
  margin-left: .5rem;
  max-width: 75%;
  line-height: 1rem;
}

.drawerItemCount {
  color: #979797;;;
  margin-left: .3rem;
}

.drawerItemRisk {
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 400;
  color: #717780;
}

.drawerItemRisk span {
  color: #59c000;
  margin-left: .2rem;
  width:
}

.drawerItemSub {
  composes: drawerItemHeader;
  background-color: #f2f2f2;
  padding-left: 1rem;
  height: 2rem;
  justify-content: flex-start;
  border: none;
}

.drawerItemLink {
  composes: drawerItemHeader;
  color: #666;
  padding: 0 1rem;
  justify-content: space-between;
  border-top: 1px solid #c0c2c4;
  border-bottom: none;
  cursor: pointer;
  height: 3em;
  transition: background-color .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.drawerItemLink:hover {
  background-color: #eee;
}

.drawerItemLink:focus {
  background-color: #dbdcdf;
}

.drawerItemLinker {
  color: #52bcec;
  text-decoration: underline;
  pointer-events:none;
}

.drawerItemLinkTitle{
  pointer-events:none;
  display: flex;
}

.icon {
    margin-right: 1rem;
}

.table {
  height: 9.875rem;
  width: 100%;
  display: flex;
  background-color: red;
  font-size: .8rem;
  font-weight: 300;
  position: relative;
}

:global(.quantity) {
  color: #52bcec;
  font-size: .8rem;
  width: 100%;
  text-align: right;
  padding: 0 10px;
  white-space: nowrap
}

:global(.quantityLeft) {
  color: #52bcec;
  font-size: .8rem;
  width: 100%;
  padding: 0 10px;
  white-space: nowrap
}

:global(.quantityCenter) {
  color: #52bcec;
  font-size: .8rem;
  width: 100%;
  text-align: center;
  white-space: nowrap
}

.staticDiv {
  composes: drawerItemHeader;
  background-color: #fff;
  padding: 0 1rem;
  flex-direction: column;
  height: auto;
  color: #0065bd;
  font-size: .87rem;
  align-items: flex-start;
  border-bottom: none;
}

.name {
  margin-bottom: 1rem;
}

.singleName {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.data {
  padding: 0;
  margin: 0;
  line-height: 1.2rem;
}

.data:first-child {
  margin-top: .7rem;
}

.data:last-child {
  margin-bottom: .7rem;
}

.dataInner {
  color: #666666;
  margin-left: .5rem;
}

.dataIncomeInner {
  color: #009ee5;
}

.dataIncome {
  padding: 0;
  margin: 0;
  line-height: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dataIncome:first-child {
  margin-top: .7rem;
}

.dataIncome:last-child {
  margin-bottom: .7rem;
}

.drawerCard {
    position: relative;
}

.drawerCardLoading::after {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .4);
}

.potentialSpan {
  display: block;
}
/*-------------------------------Dropdown---------------------------------------------------------------------------------*/
.bottomArrow {
  margin: 0.5em;
  height: 0.9em;
  width: 0.9em;
}

.documentTitleLabel {
  color: white;
  font-size: .9em;
  padding: .2em;
}

.dropdownList {
  position:absolute;
  z-index:2;
  cursor:pointer;
  background:white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
}

.dropdownListWrapperShow {
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1,1);
  transform: scale(1, 1);
}

.dropdownListWrapperHide {
  -ms-transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

.selected {
  background: #2875C7;
  color: white;
}


.dropdownItem {
  border-bottom: 1px solid #cccccc;
  font-size: .9em;
  flex : 1;
  display: flex;
  padding : .5em;
}

.dropdownItemTextWrapper {
  display: flex;
  flex-direction: column;
  flex : 1;
  white-space: nowrap;
}

.dropdownItemLabelDesc {
  color: #717780;
  font-size: 0.8em;
  white-space: nowrap;
  line-height : 0.8em;
  composes :  textDefaults from "../../sharedStyles/typographi.css";
}

.dropdownItemLabel {
  white-space: nowrap;
  composes :  textDefaults from "../../sharedStyles/typographi.css";
  font-size : 1em;
  color: #003F8C;
}


.dropdownListWrapper {
  position: relative;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-transition: all .3s;
}

.dropdownListContainer{
  max-height: 20em;
  overflow-y: scroll;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdownDisplay {
    flex: 1;
    display: flex;
}

.dropdownItemIconWrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: .5em;
}

.dropdownItemIcon {
  height: 1.5em;
  width: 1.5em;
}

.dropdownFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: white;
}

.dropdownFooterBtn {
  color: #4cbbee;
  font: 1em;
  text-transform: uppercase;
  line-height: 1em;
  composes :  textDefaults from "../../sharedStyles/typographi.css";
}
/*-------------------------------Expediente---------------------------------------------------------------------------------*/

/*-------------------------------FichaCliente---------------------------------------------------------------------------------*/
.fichaContainer {
  border-top: 1px solid rgba(151,151,151,0.37);
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.wrapperContainer {
  display: flex;
  flex-direction: row;
  padding: .5em;
}
/*-------------------------------FichaClienteWindow---------------------------------------------------------------------------------*/
.fichaContainer {
  border-top: 1px solid rgba(151,151,151,0.37);
  width: 70vw;
}

.fichaContainerWrapper {
  height: 60vh;
  overflow-y: scroll;
}

.wrapperContainer {
  display: flex;
  flex-wrap: wrap;
  padding: .5em;
}
/*-------------------------------FileDropper------------------------------------------------------------------------------------------------*/
.evidenceWrapper {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  justify-content: center;
}

.icons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.item {
  margin: 1rem;
  transition: opacity .3s cubic-bezier(.175, .885, .32, 1);
}

.item:hover {
  opacity: .7;
}

.add {
  width: 94%;
  margin-top: .5rem
}

.dropWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(44, 44, 44, .6);
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 101;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .6s cubic-bezier(.175, .885, .32, 1);
}

.dropzoneAccept {
  background-color: rgba(44, 44, 44, .9);
}

.card {
  height: 15rem;
  width: 17rem;
  background-color: #fff;
  border-radius: .5rem;
  composes: boxShadowPrimary from '../../sharedStyles/mixins.css';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #003f8c;
  font-size: 1.125rem;
}

.text {
  color: #3b3e45;
  font-size: .82rem;
  width: 80%;
  text-align: center;
}

.popover {
  position: absolute;
  display: flex;
  bottom: -100%;
  height: 4rem;
  width: 17rem;
  background-color: #fff;
  border-radius: .5rem;
  color: #003f8c;
  justify-content: center;
  align-items: center;
  transition: all .6s cubic-bezier(.175, .885, .32, 1);
  animation: upload .6s cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.popoverText {
  width: 80%;
  font-size: .9rem;
  text-align: center;
}

.dropzoneAccept .popover {
  bottom: 5%;
}

@keyframes upload {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
/*-------------------------------HeaderTitleButton-----------------------------------------------------------------------------------------------------*/
.headerTitleButton {
  padding: 1rem;
  width: 100%;
  min-height: 3.3rem;
  display: flex;
}

.headerTitleButtonWithinBack{
  padding-left: 3.5em;
}

.headerTitleButtonTitleWrapper {
  height: 1.5rem;
  width: 50%;
  display: table;
}

.headerTitleButtonIcon {
  cursor: pointer;
}

.headerTitleButtonTitle {
  composes: textHeaders from '../../sharedStyles/typographi.css';
  margin: 0;
  line-height: 100%;
}

.headerTitleBackIcon {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 1rem;
  height: 1.5rem;
}

.headerTitleBackIcon:hover {
  cursor: pointer;
}

.headerTitleButtonTitleContainer {
  display: table-cell;
  vertical-align: middle;
}

.headerTitleButtonIconImage {
  display: block;
  margin-right: 1rem;
}

.headerTitleButtonNav {
  height: 1.5rem;
  width: 50%;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.headerTitleNavItem {
  margin-right: 1rem;
  cursor: pointer;
  line-height: 1.5rem;
}

.headerTitleButtonIcon {
  display: inline-block;
  vertical-align: baseline;
}

.headerTitleNavItem:last-child {
  margin-right: 0;
}
.headerTitleNavItemRelative {
  position: relative;
}
/*-------------------------------HomonomyItem-----------------------------------------------------------------------------------------------------*/
.homonomyItem {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.homonomyItemOff {
  opacity: .3;
}

.homonomyItemCheckboxWrapper {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homonomyItemDataWrapper {
  width: 80%;
  cursor: pointer;
  transition: opacity .2s ease;
}

.homonomyItemCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  border: 0.13rem solid #cccccc;
  border-radius: 0.19rem;
  cursor: pointer;
  top: 0.83rem;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
}

.homonomyItemCheckbox:hover {
  background: #cccccc;
}

.homonomyItemCheckbox:checked:before {
  content: '✔';
  font-size: 2rem;
  line-height: 1.25rem;
  color: #5ebd31;
}

.homonomyItemLabel {
  composes: textSubHeaders from '../../sharedStyles/typographi.css';
}

.homonomyItemValue {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  margin-left: .25rem;
}

.homonomyItemValueAddress {
  composes: homonomyItemValue;
  display: block;
  margin-top: .25rem;
  margin-left: 0;
  line-height: 1rem;
}
/*-------------------------------HomonomySelectedList-----------------------------------------------------------------------------------------------------*/
.homonomySelectedList {
  display: none;
  padding: .25rem 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 4;
  transform: translate(-90%);
  background-color: #fff;
  box-sizing: border-box;
  border-radius: .25rem;
  box-shadow: 0 0 .5rem #333;
  min-width: 20rem;
  max-width: 20rem;
  margin-top: .5rem;
}

.homonomySelectedListVisible {
  display: block;
}

.homonomySelectedListTitle {
  composes: textHeaders from '../../sharedStyles/typographi.css';
  margin: 0;
  width: 90%;
  display: table-cell;
  vertical-align: middle;
  line-height: 2rem;
}

.homonomySelectedListContainerList {
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow-y: scroll;
}

.homonomySelectedListItem {
  border-bottom: 0.06rem solid #cccccc;
  box-sizing: border-box;
  list-style-type: none;
  padding: .5rem 0;
}

.homonomySelectedListItem:last-child {
  border-bottom: none;
}

.homonomySelectedListTitleWrapper {
  border-bottom: 0.06rem solid #cccccc;
  box-sizing: border-box;
  display: table;
  padding: .5rem;
  width: 100%;
 }

.homonomySelectedListIcon {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

.homonomySelectedListAmount {
  composes: textHeaders from '../../sharedStyles/typographi.css';
  color: #979797;;;
  margin-left: .25rem;
}
/*-------------------------------Icons------------------------------------------------------------------------------------------------------*/
:global(.icon) {
  transition: fill .3s cubic-bezier(.5,.9,.6,1);
}

:global(.icon-110) {
  height: 110px;
  width: 110px;
}

:global(.icon-52) {
  height: 52px;
  width: 52px;
}

:global(.icon-32) {
  height: 32px;
  width: 32px;
}

:global(.icon-24) {
  height: 24px;
  width: 24px;
}

:global(.icon-18) {
  height: 18px;
  width: 18px;
}

:global(.disabledIcon) {
  opacity: .5;
  pointer-events: none;
  cursor: default;
}

/*ICON CIRCLE*/
:global(.icon-circle) {
  fill: transparent;
  color: #fff;
}

:global(.iconWrapper-true .icon-circle:hover) {
  fill: #0981c0;
  color: rgba(255,255,255,.9);
}

:global(.iconWrapper-true .icon-circle:active) {
  fill: #009ee5;
  color: rgba(255,255,255,.9);
}

:global(.iconWrapper-true .icon-circle:focus) {
  fill: #009ee5;
  color: rgba(255,255,255,.9);
}

/*ICON ROUNDED*/
:global(.icon-rounded) {
  fill: transparent;
  color: #003f8c;
}

:global(.iconWrapper-true .icon-rounded:hover) {
  fill: rgba(170, 206, 233, 0.5);
  color: #003f8c;
}

:global(.iconWrapper-true .icon-rounded:active) {
  fill: #aacee9;
  color: #003f8c;
}

:global(.iconWrapper-true .icon-rounded:focus) {
  fill: #aacee9;
  color: #003f8c;
}

/*ICON COMPARE*/
:global(.icon-compare) {
  fill: transparent;
  color: #fff;
}

:global(.icon-compare.disabled) {
  opacity: .5;
  pointer-events: none;
  cursor: default;
}

:global(.iconWrapper-true .icon-compare:hover) {
  color: #009ee5;
}

:global(.iconWrapper-true .icon-compare:active) {
  color: #dbdbdb;
}

:global(.iconWrapper-true .icon-compare:focus) {
  color: #dbdbdb;
}

/*ICON DRAWER*/
:global(.icon-drawer) {
  fill: transparent;
  color: #003f8c;
}

:global(.icon-drawer.disabled) {
  opacity: .5;
  pointer-events: none;
  cursor: default;
}

:global(.iconWrapper-true .icon-drawer:hover) {
  fill: rgba(170, 206, 233, 0.5);
}

:global(.iconWrapper-true .icon-drawer:active) {
  fill: #aacee9;
}

:global(.iconWrapper-true .icon-drawer:focus) {
  fill: #aacee9;
}




:global(.iconWrapper-true) {
  cursor: pointer;
}

:global(.iconWrapper-false) {
  cursor: default;
}

.iconWrapper {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

:global(.icon-ficha),
:global(.icon-id),
:global(.icon-location) {
  color: #009ee5;
}

:global(.icon-ok) {
  color: #53C037;
}

:global(.icon-reject) {
  color: #C8175E;
}

:global(.icon-warning) {
  color: #ffba03;
}

:global(.icon-doubleViewer) {
  fill: #333;
  color: #fff;
}

:global(.icon-doubleViewer:hover) {
  fill: #0981c0;
  color: #fff;
}

:global(.icon-send) {
  color: #80CB34;
}

:global(.icon-send:hover) {
  color: #80CB34;
}

:global(.icon-maximize) {
  color: #009EE5;
  object-fit: contain;
}

:global(.icon-tableFooterLeft) {
  color: #666;
  fill: transparent;
  width: 20px;
  transform: rotate(90deg);
}

:global(.icon-tableFooterRight) {
  color: #666;
  fill: transparent;
  width: 20px;
  transform: rotate(-90deg);
}

:global(.icon-minimize) {
  color: #4cbbee;
  object-fit: contain;
}

:global(.icon-history) {
  fill : #333;
  object-fit: contain;
}

/*ICON Sanction*/
:global(.icon-viable) {
  fill: transparent;
  color: #5ebd31;
  width: 58px;
  height: 71px;
}

:global(.icon-deny) {
  fill: transparent;
  color: #c8175e;
  width: 57px;
  height: 71px;
}

:global(.icon-viable:hover) {
  fill: rgba(170, 206, 233, 0.5);
  color: #5ebd31;
}

:global(.icon-deny:hover) {
  fill: rgba(170, 206, 233, 0.5);
  color: #c8175e;
}


:global(.icon-reload) {
  color : #c8175e;
  object-fit: contain;
}
/*-------------------------------Inputs-----------------------------------------------------------------------------------------------------*/
.optionCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  border: 2px solid #cccccc;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
}

.optionCheckbox:hover {
  background: #cccccc;
}

.optionCheckbox:checked:before {
  content: '✔';
  font-size: 2em;
  line-height: 20px;
  position: relative;
  color: #5ebd31;
}

.genericTxtContainer {
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.genericTxtLabel {
  font-size: 13px;
  color: #979797;;;
  line-height: .9rem;
}

.genericTxtInput {
  margin-top: 1em;
  border: 0;
  font-size: 13px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  outline: 0;
}

.genericSelectContainer {
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.selectContainer {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  padding: .5px 0;
}

.selectContainer select {
  background: transparent;
  border: none;
  width: 100%;
  font-size: 13px;
}

.selectContainer select:focus {
  outline: none;
}

.selectContainer:hover {
  border-bottom: 1px solid #4cbbee;
}


/* :global [type="radio"]:checked,
:global [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
} */

/* :global [type="radio"]:checked + label,
:global [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666666;
    font-family: 'main';
    font-size: 0.81rem;
}

:global [type="radio"]:checked + label:before,
:global [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 100%;
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
:global [type="radio"]:checked + label:after,
:global [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #5ebd31;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
:global [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
:global [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
} */


/* Base for label styling */
:global .checkbox[type="checkbox"]:not(:checked),
:global .checkbox[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
:global .checkbox[type="checkbox"]:not(:checked) + label,
:global .checkbox[type="checkbox"]:checked + label {
  white-space: nowrap;
  position: relative;
  padding-left: 3rem;
  cursor: pointer;
  color: #666666;
  font-family: 'main';
  font-size: 0.81rem;
}

:global .checkbox[type="checkbox"]:disabled + label {
  padding-left: 1rem;
}

/* checkbox aspect */
:global .checkbox[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

:global .checkbox[type="checkbox"]:disabled + label:before {
  display: none;
}

:global .checkbox[type="checkbox"]:disabled + label::after {
  display: none;
}


/* checked mark aspect */
:global .checkbox[type="checkbox"]:not(:checked) + label:after,
:global .checkbox[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  left: 1.3rem;
  top:  0.3rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
:global .checkbox[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
:global .checkbox[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/*-------------------------------Loading-----------------------------------------------------------------------------------------------------*/
.loadingContainer {
  margin: 1.5em auto;
  position: relative;
  height: 135px;
}

.oval {
  width: 131px;
  height: 131px;
  background: #ffffff;
  border: 3px solid #009ee5;
  border-radius: 50%;
  animation: OvalSpin infinite 5s linear;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80px;
}

.oval::after {
  content: ' ';
  background: #009ee5;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 50%;
  top: -8px;
}

.loadingIcon {
  position: relative;
  top: 50px;
  left: 4px;
  z-index: 1;
}

@keyframes OvalSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*-------------------------------LoadingOverlay------------------------------------------------------------------------------------------------------*/
.overlay {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
    padding: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .7s linear infinite;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*-------------------------------Modals-----------------------------------------------------------------------------------------------------*/
.base {
  display: flex;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  color: #094FA4;
}

.baseAfterOpen {
  display: flex;
  max-height: 90%;
}

.fullScreen {
  height: 90%;
  width: 90%;
}

.allWidth {
  width: 90%;
}

.baseBeforeClose {
  display: flex;
}

.overlay {
  display: flex;
  position: fixed;
  background-color: rgba(44, 44, 44, .6);
  z-index: 101;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlayAfterOpen {
  display: flex;
}

.overlayBeforeClose {
  display: flex;
}

.icon {
  margin-top: 2.4rem;
  margin-bottom: 2.2rem;
}

.text {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 340px;
  align-items: center;
}

.firstText, .secondText {
  color: #797f85;
  text-align: center;
  padding: 0;
  margin: 0;
}

.boldText {
  font-weight: 400;
  color: #4a4a4a;
  text-align: center;
  padding: .5rem 0;
  margin: 0;
}

.amount {
  padding: 0;
}

.yesNoButtons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #C0C2C4;
}

.confirmButton {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.cancelButton {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  border-top: 1px solid #C0C2C4;
}
/*-------------------------------Notes------------------------------------------------------------------------------------------------------*/
.buubleNote {
    border-radius:  5px;
    background-color: #dde3ea;
    padding: .2em .5em;
    min-width: 200px;
    position: relative;
}

.message_left {
  justify-content: flex-start;
}

.message_right {
  justify-content: flex-end;
}

.notesWrapper{
  height: 100%;
  display: flex;
}

.notesContainer {
  height : 100%;
  overflow-y: auto;
  flex : 1;
}

.notesContent {
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.noteContainer {
  margin: .5em;
  display : flex;
}

.buubleNote_left:after {
	right: 100%;
	top: 1em;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #dbdcdf;
	border-width: 7px;
	margin-top: -5px;
}

.buubleNote_right:after {
    left: 100%;
  	top: 1em;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(136, 183, 213, 0);
    border-left-color: #dbdcdf;
    border-width: 7px;
  	margin-top: -5px;
}

.bottomContainer{
   display: flex;
   justify-content: flex-end;
}

.timeContainer {
    display: inline-block;
    font-size: 9px;
    composes :  textDefaults from "../../sharedStyles/typographi.css";
}

.avatarContainer {
  width: 30px;
  margin: 0 .5em
}

.avatar {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 3px;
}

.inputContainer {
  display: inline-block;
  width: 100%;
  padding: 5px;
  height: 100px;
}

.bubbleHeader {
    color: #094FA4;
    font-size: 12px;
    composes :  textDefaults from "../../sharedStyles/typographi.css";
    display: flex;
    justify-content: space-between;
}

.bubbleText {
  color: #4a4a4a;
  font-size: 12px;
  composes :  textDefaults from "../../sharedStyles/typographi.css";
  white-space: pre-wrap;
}

.textAreaNote {
  background-color: #f3f5f7;
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #e5e5e5;
}

.tabHeader {
  flex-direction : row;
  display: flex;
  background-color: #dbdcdf;
  justify-content: space-between;
}

.tabOptionTitle {
  font-family: 'main';
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
}

.tabOptionContainer::before, .tabOptionContainer::after {
    content:'';
    display:block;
    position:absolute;
    top:-1px;
    z-index:0;
    height:105%;
    width:20px;
    background-color: #434957;
}

.tabOptionContainer::before {
  right:-7px;
  border-left:none;
  transform: skewX(15deg);
  border-radius:0 5px 0 0;
}

.tabOptionContainer::after {
  left:-7px;
  border-right:none;
  transform: skewX(-15deg);
  border-radius:5px 0 0 0;
}

.tabOptionContainer {
  display : inline-flex;
  position: relative;
  color: white;
  padding: .2rem 1.5rem;
  font-size:12px;
  text-decoration:none;
  border-radius: 5px 0;
  margin: 0 1.1em;
  background-color : #434957;
  border-radius: 5px 5px 0 0;
  flex :1 ;
  justify-content: space-between;
  border-top: 1px solid #434957;
  border-bottom: 1px solid #434957;
}

.tabOptionContainer_active {
  background-color: white;
  border-top: 1px solid #979797;;;
  border-bottom: 1px solid transparent;
  color: #009ee5;
}

.tabOptionContainer_active::before {
  background-color:white;
  border: 1px solid #979797;;
  border-bottom: transparent;
  border-left:  transparent;
}

.tabOptionContainer_active::after {
  background-color:white;
  border: 1px solid #979797;;;
  border-bottom: transparent;
  border-right:  transparent;
}
.composerContainer{
  display: inline-block;
}

.tabsOptionsContainer{
  flex:1;
  display : flex;
  background-color: #f4f7f5;
  border-top: 1px solid #cccccc;
  padding-top: .3rem;
}

.foreingNotesContainer{
  background-color: #434a58
  overflow-y: auto;
  flex : 1;
}

.foreingNoteContainer {
  padding: .1em;
  display: flex;
  flex-direction:  column;
  max-width: 500px;
  width: 100%;
}

.foreingNoteInput {
  font-size: 12px;
  font-weight: 800;
  display: flex;
  padding: 0.5em 0;
}

.labelForeingNote{
  color: white;
}

.optionsNoteContainer {
  font-weight: none;
  display: flex;
  flex: 1;
}

.verticalDash{
  width: 1px;
  border-right: 1px dashed gray;
  padding-bottom: .5rem;
  margin: .5rem 0em 1.5rem 2rem;
}

.horizontalDash {
  height: 1px;
  width: 2em;
  margin: 1em 0em;
  border-bottom: 1px dashed gray;
}

.buttonContainer{
  text-align: center;
  padding: .2rem;
}

.contentTreeNode{
  display : flex;
  justify-content: space-between;
  flex : 1;
}

.parentNode{
  background-color: #333;
  border-bottom : 1px solid gray;
  padding-left: .5rem;
}


.headerWrapperForeingNotes{
  display: inline-flex;
  justify-content:  space-between;
  align-items: center;
  background: #434a58
  width : 100%
}

.titleForeingNotes{
  margin: .5rem 1em;
  color: white;
  font-size: .8rem;
  text-transform: uppercase;
  composes :  textDefaults from "../../sharedStyles/typographi.css";
}

.titleHeaderNotes{
  margin: .5rem 1em;
  color: #009ee5;
  font-size: .8rem;
  text-transform: uppercase;
  composes :  textDefaults from "../../sharedStyles/typographi.css";
}

.headerWrapperNotes{
  display: inline-flex;
  justify-content:  space-between;
  align-items: center;
  width : 100%;
  border-bottom: 1px solid #979797;;;
}

.wrapperSendEECC {
    padding:.5rem  0;
    flex: 1;
}

.headerPreviewSendEECC {
  padding: 1rem 2rem;
}

.changeCardEECC {
  padding :  1rem 2rem;
  background-color: rgba(239, 249, 254, 1);
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  min-width: 400px;
}

.titleChange{
  composes :  textDefaults from "../../sharedStyles/typographi.css";
  color : #094FA4;
}

.bodyChange{
  composes :  textDefaults from "../../sharedStyles/typographi.css";
  color: #979797;;;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previewFooterEECC {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
}

.previewNotesEECC {
    max-height: 400px;
    overflow-y: auto;
}

.loadingOptions {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin .7s linear infinite;
    padding: 3px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.unsavedNote{
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #c8175e;
  text-align: center;
  padding: 3px;
}

.typeChangeBread{
  font-size: 0.7rem;
  color: white;
  display: inline;
  border-radius: 1rem;
  height: 2rem;
  background-color: #4cbbee;
  text-align: center;
  padding: 0.2rem 1rem;
}

.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.loadMoreContainer{
  display: flex;
  justify-content: center;
}

.loadMore {
  width: 10rem;
  margin: .5rem;
  text-align: center;
  composes :  textDefaults from "../../sharedStyles/typographi.css";
  border-radius: 10px;
  background-color: #094FA4;
  color : white;

}
/*-------------------------------spinner----------------------------------------------------------------------------------------------------------*/
:global .infinit-table-spinner {
  margin: 16px auto 16px auto;
  height: 32px;
  width: 32px;
  animation: rotate-spinner 1s infinite linear;
  border: 2px solid #3498db;
  border-right-color: transparent;
  border-radius: 50%;
}

:global @keyframes rotate-spinner {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
/*-------------------------------RiskDetails------------------------------------------------------------------------------------------------------*/
.accountDetailsWrapper {
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.accountDetailsWrapper .accountDetailsRow:not(:first-child) {
  margin-left: 1.3rem;
}

.accountDetailsRow{
  display: flex;
  flex-direction: column;
}

.displayValue{
  display : flex;
  flex-direction: column;
  flex : 1;
  padding: 5px 0;
}

.displayValueDescription {
  flex: 1;
  white-space: nowrap;
  color: #979797;;;
  line-height: 2em;
  padding: 0 5px;
  composes: textTableHeaders from '../../sharedStyles/typographi.css';
}

.displayValueText {
  flex: 1;
  padding: 0 5px;
  composes: textTableHeaders from '../../sharedStyles/typographi.css';
  line-height: 2em;
}

.genericTxtInput {
  margin-top: .5em;
  border: 0;
  font-size: 13px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  outline: 0;
}
/*-------------------------------Sancion------------------------------------------------------------------------------------------------------*/
.statusContainer {
  padding: .5rem;
  display: inline-flex;
  justify-content: flex-start;
  align-items:center;
}

.statusViable{
  color: green;
}

.statusRechazar{
  color: red;
}

.statusDescription {
  margin-left: .3rem ;
}

.rechazarOptionContainer {
  display: inline-flex;
  padding: .5rem;
  flex-direction: column;
  border-bottom:  1px solid #cccccc;
  composes :  textDefaults from "../../sharedStyles/typographi.css";
}

.rechazarOptionLabel{
  composes :  textDefaults from "../../sharedStyles/typographi.css";
}

.rechazarPanelContainer{
  display: flex;
  flex-direction: column;
}

.optionsCard {
  flex : 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: .2rem 0rem;
}

:global .firstLevel.checked {
  background: #009ee5;
  color : white !important;
}

:global .firstLevel.checked>div>label {
  color : white;
}

:global .secondLevel.checked {
  background: #aacee9;
}

.contentOptionContainer{
  padding-left: 0rem;
  display: inline-block;
  width: 100%;
}

:global .option input[type='radio']:checked ~.info {
  height: auto;
  transition: .3s ease-in;
  padding: 0 2rem;
}

:global .info {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  transition: .3s ease-out;
}

.loadingOptions {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin .7s linear infinite;
    padding: 3px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*:global .innerOption input ~ span {
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
}

:global .innerOption input ~ span.firstLevel {
  border-bottom:  1px solid #cccccc;
}

:global .innerOption input:checked ~ span.firstLevel {
  background: #009ee5;
  color : white;
}

:global .innerOption input:checked ~ span.secondLevel {
   background: #aacee9;
}*

:global .innerOption input:checked ~ .info {
  display: inline-flex;
  height: auto;
  transition: .3s ease-in;
}*/

:global .innerOption>.info::before {
    content: '';
    width: 1px;
    height: auto;
    margin: 0 0 0rem 2rem;
    border-left: 1px dashed #cccccc;
}
.footerSancion {
  height : 3rem;
  display: inline-flex;
  padding : .5rem;
  background-color : black;
  justify-content : flex-end;
}

.sancionContent{
   flex: 1 ;
   display : flex ;
   flex-direction: column;
}

.sancionHeader{
    margin : .5rem;
    display: inline-flex;
}

.sancionContainer {
  width : 100%;
  display: flex;
  flex-direction: column;
}

.sancionBody {
  flex : 1;
  overflow : auto;
}


.wizardPage{
  display: flex;
  flex : 1;
  flex-direction: column;
  transform: scale(.9);
  animation: fade-in .56s cubic-bezier(.5,.9,.6,1) forwards;
  overflow: hidden;
  position: relative;
  top: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.leftContentSancion {
  height: 100%;
  padding : .3rem;
  width : 500px;
}


.notesWrapper{
  border: 1px solid gray;
  border-radius : 5px;
  height: 100%;
  background-color: white;
  overflow :auto;
}

.caratulaContainer{
  flex : 1;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.caratulaContent {
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.caratulaRow {
  display: flex;
  flex-direction: row;
}


.caratulaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  cursor: -webkit-grab;
  border-bottom: 0.06rem solid #9F9F9F;
}


.caratulaHeaderTitle {
  color : #094FA4;
  composes :  textDefaults from "../../sharedStyles/typographi.css";
}

.firstLevelContainer{
  padding : 1rem 2rem;
  display: inline-block;
}

.uploadingIndicator {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin .7s linear infinite;
    padding: 1rem;
}

.uploadingModal {
    display: inline-flex;
    padding: 3rem;
    flex-direction: column;
}

.errorMPA00075 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errorContainer{
  padding: 2rem;
  flex : 1;
  min-height: 250px;
}

.errorButtonTools{
  padding: 1rem;
  justify-content: flex-end;
}

.verticalDash{
  width: 2px;
  border-left: 1px dashed gray;
  padding-bottom: .5rem;
  margin: .5rem 0em 1.5rem 2rem;
  border-radius: 1px;
}

.horizontalDash {
  height: 2px;
  width: 2em;
  margin: 1em 0em;
  border-bottom: 1px dashed gray;
  border-radius: 1px;
}

.buttonOptions {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  margin: .5rem;
  composes :  textDefaults from "../../sharedStyles/typographi.css";
  cursor: pointer;
}

.buttonOptions:hover {
  background-color: #009ee5;
  color : white;
}
/*-------------------------------SearchBar------------------------------------------------------------------------------------------------------*/
.searchBar::-webkit-input-placeholder {
  color: #666666;
  font-family: 'main';
  font-size: 0.94rem; /*0.81rem; */
  font-weight: 300;
  color: #fff;
}

.searchBar::-moz-placeholder {
  color: #666666;
  font-family: 'main';
  font-size: 0.94rem; /*0.81rem; */
  font-weight: 300;
  color: #fff;

}

.searchBar::-webkit-outer-spin-button,
.searchBar::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchBarWrapper {
  min-width: 300px;
  position: relative;
  display: flex;
}

.searchIconWrapper {
  position: absolute;
  right: .2rem;
  height: 100%;
  padding: .3rem;
}

.searchIconWrapper:hover svg {
  cursor: pointer;
}

.loadingIndicator {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin .7s linear infinite;
    padding: 3px;
}

.searchBar {
  display: block;
  background-color: rgba(0, 63, 140, 1);
  border: 0;
  border-radius: 1rem;
  flex : 1;
  padding: .5rem 2.5rem .5rem 1.8rem;
  color: #666666;
  font-family: 'main';
  font-size: 0.94rem;
  font-weight: 300;
  color: #fff;
}

.closeSearchBar{
  position: relative;
  border-radius: 50%;
  padding: .2rem;
  width: 30px;
  height: 30px;
  margin-right: .3rem;
  background-color:  #cccccc;
  color: white;
}

.resultWrapper{
  background: white;
  border-radius: 5px;
  padding: .3rem;
  position: absolute;
  top: 100%;
  width: 100%;
}

.resultLabel {
  color : #094FA4;
  text-align: left;
}

.resultDescription{
  color: #3b3e45;
}

.resultItem{
  padding: .5rem 1rem;
}

.resultvalues {
  padding: .5rem;
  display : inline-flex;
  flex-direction : column;
}

.resultWrapper:hover {
  background: #cccccc;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*-------------------------------Tab------------------------------------------------------------------------------------------------------*/
@import '../../sharedStyles/typographi.css';

.tab {
  display: flex;
  flex : 1;
  flex-direction : column;
  min-height: 100%;
}

.tabContentWrapper{
  flex : 1;
  display: inline-flex;
  overflow : hidden;
}

.tabHeader {
  flex-direction : row;
  display: flex ;
  height : 2.6em;
}

.tabOptionContainer {
  padding : 0.5em 1.1em;
  color: #979797;;;
}

.tabOptionActive {
  border-bottom: 3px solid #009ee5;
  color: #009ee5;
}

.tabOptionTitle {
  font-family: 'main';
  font-size: 0.75rem; /*.81rem;*/
  font-weight: 300;
  text-transform: uppercase;
}
/*-------------------------------Texts------------------------------------------------------------------------------------------------------*/
.headerTextStyl {
  color: #094FA4;
  font-size: 16px;
  padding: 0 1em;
  font-weight: 300;
}

.subHeaderTextStyl {
  font-size: .875rem;
  margin: 0;
  width: 100%;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subHeaderTextLeftStyl {
  color: #094FA4;
  padding: 7px;
  font-size: 15px;
  font-weight: 300;
  line-height: 16px;
  margin: 0;
}

.headerTxtRouteStyl {
  display: flex;
  justify-content: space-between;
}

.headerTxtRouteBoxLeft {
  display: flex;
}


.saludo {
  color: #979797;;;
  margin: 20px 0 0 0;
  text-align: center;
}

.saludoSpan {
  color: #0065bd;
}

.paragraphContainer {
  color: #979797;;;
  font-size: 16px;
}

.SubHeaderTextLefWithIconHero {
  display: flex;
  justify-content: space-between;
  padding: .5em 1em;
}

.subHeaderBtnStyl {
  cursor: pointer;
}

.subHeaderBtnStyl:hover {
  opacity: 0.5;
}
/*-------------------------------Tooltip------------------------------------------------------------------------------------------------------*/
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
}

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
/*-------------------------------TopNavigation------------------------------------------------------------------------------------------------------*/

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.dropAnim {
  opacity: 0;
  transform: translateY(-100%) scale(.8);
  animation: fade-in ease .2s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-top: .8rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-100%) scale(.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/*-------------------------------UserTable------------------------------------------------------------------------------------------------------*/
/* Card style **/
.card {
  box-sizing: border-box;
  width: 17rem;
  padding: 1rem;
  margin-right: .5em;
}

.card:hover {
  cursor: pointer;
}

.cardWrapper {
  box-sizing: border-box;
  align-items: center;
  border-bottom: .0625rem solid #cccccc;
  display: flex;
  justify-content: flex-start;
  padding-bottom: .5rem;
}

.cardCircle {
  border-radius: 50%;
  color: #fff;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  width: 2rem;
}

.cardUserNames {
  composes: textHeaders from '../../sharedStyles/typographi.css';
  display: block;
  text-transform: inherit;
}

.cardUserLastName {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  display: block;
  line-height: .8rem;
}

.cardUserId {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  color: #434A58;
  display: block;
  margin-top: .5rem;
}

.cardWrapperStatus {
  margin-right: 1rem;
}


/* Table styles **/
.userTable {
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: .0625rem solid #cccccc;
}

.userTableContent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.userTableStatus {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: .5rem;
  border-radius: 50%;
  vertical-align: middle;
}

.userTableTitle {
  composes: textHeaders from '../../sharedStyles/typographi.css';
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  line-height: 1rem;
}

.userTableTitleWrapper {
  width: 100%;
  box-sizing: border-box;
  border-bottom: .0625rem solid #cccccc;
  padding: .5rem;
}

/* status styles **/
.statusInactive {
  background-color: #79db32;
  opacity: .7;
}

.statusConnected {
  background-color: #5ebd31;
}

.statusDisconnected {
  background-color: #666666;
  opacity: .7;
}

.tableStatusInactive {
  color: #79db32;
}

.tableStatusConnected {
  color: #5ebd31;
}

.tableStatusDisconnected {
  color: #666666;
}

/* user detail styles **/

.userDetailModal {
  width: 32rem;
  box-sizing: border-box;
  padding: 1rem;
}

.userDetailModalUserWrapper {
  width: 100%;
  position: relative;
}

.userDetailModalUserWrapperImg {
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
  max-width: 25%;
}

.userDetailModalUserWrapperName {
  composes: textHeaders from '../../sharedStyles/typographi.css';
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: inherit;
}

.userDetailModalUserWrapperId {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  display: block;
  margin: 0 auto;
  text-align: center;
}

.userDetailModalProductivityWrapper {
  border-bottom: .125rem solid #cccccc;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  text-align: center;
}

.userDetailModalProductivityWrapperPaddingTopOff {
  padding-top: 1rem;
  border-bottom: none;
}

.userDetailModalItemTitle {
  composes: textSubHeaders from '../../sharedStyles/typographi.css';
  margin: 0;
}

.userDetailModalItemValue {
  composes: textDefaults from '../../sharedStyles/typographi.css';
}

.userDetailModalDataWrapper {
  width: 100%;
}

.userDetailModalDataWrapperTitle {
  background-color: rgba(170, 206, 233, 0.5);
  box-sizing: border-box;
  padding: .25rem 0;
  text-align: center;
}

.userDetailModaltableTitle {
  composes: textSubHeaders from '../../sharedStyles/typographi.css';
  display: inline;
}

.userDetailModaltableTitleAmount {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  display: inline;
  margin-left: .5rem;
}

.userDetailModalDataWrapperTable {
  height: 10rem; /**160px*/
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

.userDetailModalDataRow {
  composes: textDefaults from '../../sharedStyles/typographi.css';
  border-bottom: .0625rem solid #cccccc;
  list-style-type: none;
  padding: .5rem;
}

.userDetailModalDataRow:last-child {
  border-bottom: none;
}

.userDetailModalDataRowNumber {
  width: 2rem;
  margin-right: .25rem;
  display: inline-block;
}

.userDetailModalDataRowValue {
  display: inline-block;
}

.userDetailModalIconWrapper {
  position: absolute;
  top: 0;
  right: 1rem;
}

.userDetailModalErrorContainer {
  width: 90%;
}
/*--------------------------------Wrappers-----------------------------------------------------------------------------------------------------*/
.CardSmallStyl {
  -webkit-box-shadow: 0 2px 4px 0 #979797;;;
  box-shadow: 0 2px 4px 0 #979797;;;
  width: 300px;
  text-align: center;
  background: white;
  padding: 3.5em .5em;
  border-radius: 5px;
}

.CardBigStyl {
  border-radius: 5px;
  min-width: 65rem;
  width: 100%;
  max-width: 85rem;
  height: calc(100vh - 8rem);
  min-height: 40.5rem;
  max-height: 50rem;
  margin: 0;
  background: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  overflow : hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.fullSize {
  display : flex;
  flex-direction: row;
  padding-top : 6.5em;
  height : 100%;
}

.fullSizeCard {
  display: flex;
  flex : 1;
  flex-direction : column;
  justify-content: center;
  background-color : white;
  margin : .5em .5em .5em .5em;
  border-radius : var(--borderRadius);
  -webkit-box-shadow: 0 16px 16px 0 rgba(0,0,0,0.5);
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.5);
  overflow : hidden;
}

.RowFlexCenterStyl {
  display: flex;
  align-items: center;
  min-height: 10em;
}

.centerContainer {
  padding: 0;
  height: 100%;
  padding-top: 7rem;
  display: flex;
  justify-content: center;
}

.centerContainerAlt {
  padding: 5em 0 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  animation: fade-in ease 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
